*.pyc
*.egg-info
*.eggs

# data
*.txt
*.out
*.csv
*.xml

!requirements.txt

dist
.cache

bower_components
node_modules

htmlcov
.coverage
.tox

docs/_build
docs/apidocs
docs/modules.rst
docs/scriptcwl.rst
