language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
install:
- pip install 'setuptools>=18.5'
- pip install tox-travis
- pip install -r requirements.txt
script: tox
after_success:
  - python-codacy-coverage -r coverage.xml
sudo: false
cache: pip
